.tech-list-panel {
  background-color: var(--bg1o);

  border-top: solid 5px var(--bg1o2);

  box-shadow: 0 0 10px 3px black inset;

  &>header {
    display: flex;

    padding-top: 25px;

    justify-content: center;
    align-items: center;

    &>div {
      padding: 25px;

      font-size: 2rem;

      border-radius: 10px;

      background-color: var(--bg1o);
      color: var(--text);
      text-shadow: 4px 4px black;
      box-shadow: 0 0 10px 3px black;
    }
  }
}

.tech-list {
  width: calc(100% - 40px);
  padding: 20px;
}

.tech-list-item {
  padding: 10px;
  border-radius: 5px;

  box-shadow: 0 0 10px 3px black;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &:hover {
    transform: scale(1.02);
  }

  &>div {
    display: inline-block;
    height: 1em;

    border-radius: 0.5em;

    background: linear-gradient(to right, var(--accent) 30%, var(--accent2) 80%, var(--accent) 100%) repeat;
    background-size: 50% 100%;

    animation: bar-gradient 8s infinite linear;
  }
}

.tech-list-item-head {
  display: inline-block;

  width: calc(25% - 12px);

  border-right: solid 2px var(--bg1);
  margin-right: 10px;

  &>img {
    width: 1em;

    vertical-align: middle;

    margin-right: 5px;
  }

  &>h6 {
    display: inline-block;
    width: 25%;

    color: var(--text);
  }
}

@media screen and (min-width: 950px) {
  .tech-list-item-head {
    font-size: 1.5rem;
  }

  .tech-list-item-head>img {
    margin-right: 10px;
  }
}

@keyframes bar-gradient {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 0;
  }
}