.tech-list-panel {
  background-color: var(--bg1o);

  border-top: solid 5px var(--bg1o2);

  box-shadow: 0 0 10px 3px black inset;

  &>header {
    display: flex;

    padding-top: 25px;

    justify-content: center;
    align-items: center;

    &>div {
      padding: 25px;

      font-size: 2rem;

      border-radius: 10px;

      color: var(--text);
      text-shadow: 4px 4px black;
      box-shadow: 0 0 10px 3px black;
    }
  }
}

.tech-list {
  width: calc(100% - 40px);
  padding: 20px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
  justify-content: center;
}

.tech-list-item {
  padding: 10px;
  border-radius: 5px;

  width: 7em;
  height: 7em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;

  box-shadow: 0 0 10px 3px black;

  transition: transform 0.05s ease-in-out;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &>img {
    width: 5em;
    aspect-ratio: 1/1;

    margin-right: 5px;
  }

  &>h6 {
    width: 100%;
    text-align: center;

    color: var(--text);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .tech-list-item:hover {
    transform: translateY(-3px);
    transition: transform 0.05s ease-in-out;
  }
}

@media screen and (min-width: 950px) {}