:root {
  --banner-pfp-size: 305px;
  --banner-card-pad: 20px;
  --banner-pfp-margin: 15px;
  --pfp-hover-scale: 1.01;
  --pfp-radius: 50%;
}

.banner {
  position: relative;
  width: 100%;
  display: flex;
}

.banner-container {
  align-items: stretch;
  border-radius: var(--radius);
}

.banner-pfp {
  width: var(--banner-pfp-size);
  height: var(--banner-pfp-size);

  display: inline-block;
  position: relative;

  background-color: var(--bg2o);

  box-shadow: 0 0 10px 0 black;
  border-radius: var(--pfp-radius);

  & img {
    display: inline-block;

    width: calc(var(--banner-pfp-size) - (var(--banner-pfp-margin) * 2));

    margin-left: var(--banner-pfp-margin);
    margin-top: var(--banner-pfp-margin);

    aspect-ratio: 1/1;
    object-fit: cover;

    border-radius: var(--pfp-radius);
  }

  & div {
    position: absolute;
    top: var(--banner-pfp-margin);
    left: var(--banner-pfp-margin);

    width: calc(var(--banner-pfp-size) - (var(--banner-pfp-margin) * 2));
    height: calc(var(--banner-pfp-size) - (var(--banner-pfp-margin) * 2));

    border-radius: var(--pfp-radius);

    box-shadow: 0 0 20px 2px black inset;

    &:hover {
      width: calc(var(--banner-pfp-size * var(--pfp-hover-scale)) - (var(--banner-pfp-margin) * 2));
      height: calc(var(--banner-pfp-size * var(--pfp-hover-scale)) - (var(--banner-pfp-margin) * 2));
    }
  }
}

.banner-card {
  display: inline-block;

  background-color: var(--bg2o3);

  box-shadow: 0px 0px 10px 0px black;
  border-radius: var(--radius);

  padding: var(--banner-card-pad);

  & h2 {
    color: var(--text);
    font-weight: bold;
    font-size: 2rem;
    text-decoration: underline;

    margin-bottom: 1rem;
  }
}

.banner-card-details {
  display: flex;

  flex-direction: row;
  justify-content: space-between;

  & address {
    color: var(--text2);

    line-height: 2rem;
    display: flex;
    flex-direction: row;

    margin-right: 0;
    margin-bottom: 1rem;

    & a:not(:first-child) {
      margin-left: 0.5rem;

      &::before {
        content: "-";
        margin-right: 0.5rem;
        display: inline-block;
        text-decoration: none;
      }
    }
  }

  & a {
    color: var(--text2);
    text-decoration: none;
  }

  & a:hover {
    text-decoration: underline;
  }

  & p {
    display: inline;

    color: var(--text);
  }
}

@media screen and (min-width: 950px) {
  :root {
    --banner-pad: 50px;
    --banner-container-pad: 20px;
    --banner-card-margin: 50px;
  }

  .banner {
    width: calc(100% - (var(--banner-pad) * 2));
    padding: var(--banner-pad);
  }

  .banner-container {
    display: flex;
    align-items: center;

    padding: var(--banner-container-pad);
  }
}

@media screen and (min-width: 1500px) {
  .banner-card {
    & h2 {
      font-size: 3rem;
    }
  }

  .banner-card-details {
    & p {
      font-size: 1.1rem;
    }

    & address {
      font-size: 1.1rem;
    }
  }
}

@media screen and (max-width: 949px) {
  :root {
    --banner-pad: 25px;
    --banner-container-pad: 20px;
    --banner-card-margin: 40px;
  }

  .banner {
    padding-top: var(--banner-pad);
    padding-bottom: var(--banner-pad);
  }

  .banner-container {
    width: calc(100% - (var(--banner-pad) * 2) - (var(--banner-container-pad) * 2));
    padding: var(--banner-container-pad);

    margin-left: auto;
    margin-right: auto;
  }

  .banner-pfp {
    margin-left: calc(50% - (var(--banner-pfp-size) / 2));
  }
}