:root {
  --card-width: 60%;
  --card-radius: 20px;
  --project-name-font-size: 3.5rem;
  --icon-size: 35px;
}

.project-card {
  position: relative;
  width: var(--card-width);
  margin: 5px;

  border-radius: var(--card-radius);

  overflow: hidden;

  display: flex;
  flex-flow: column;

  border-top: solid 1px rgba(0, 0, 0, 0);

  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.project-card-thumbnail {
  height: 100%;
  object-fit: cover;
  object-position: top left;

  -webkit-user-select: none;
  user-select: none;

  border-radius: var(--card-radius) var(--card-radius) 0 0;
}

.project-card-bottom {
  position: absolute;
  bottom: 0;

  height: 20%;
  width: 100%;

  overflow: hidden;

  background-color: var(--bg2o);
  box-shadow: inset 0px 12px 10px -10px black;
  border-radius: 0 0 var(--card-radius) var(--card-radius);

  transition: height 0.5s ease-in-out;
}

.project-card-banner,
.project-card-details {
  height: 100%;
  position: relative;

  display: flex;
  align-items: center;

  transition: transform 0.5s ease-in-out;
}

.project-card-banner {
  justify-content: center;

  -webkit-user-select: none;
  user-select: none;
}

.project-card-details {
  flex-direction: column;
  justify-content: space-between;
}

.project-card-name,
.project-card-description {
  margin: 0;
  color: var(--text);
}

.project-card-name {
  font-size: var(--project-name-font-size);
  text-shadow: 4px 4px black;
}

.project-card-description {
  margin: 10px 0 0 10px;

  padding: 5px;
}

.project-card-badges {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.project-card-links {
  display: flex;
  flex-direction: row;

  & a {
    margin-left: 10px;
  }
}

.project-card-icon {
  width: var(--icon-size);
  height: var(--icon-size);
}

.project-card-tech {
  display: flex;
  flex-direction: row-reverse;

  background-color: var(--bg1o);
  border-radius: 5px;

  padding: 5px;

  margin: 0 10px 10px 0;

  & img {
    width: 35px;
    height: 35px;

    &:not(:first-child) {
      margin-right: 10px;
    }
  }
}

.project-card-features {
  width: 100%;

  & li {
    color: var(--text);
    display: list-item;
    margin-left: 1.5em;

    &::before {
      content: "-";
      color: var(--text);
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }
}

@media screen and (min-width: 950px) {
  .project-card {
    aspect-ratio: 3/2;
  }

  .project-card-description,
  .project-card-features li {
    font-size: 1.25rem;
  }

  .project-card-hover:hover {
    .project-card-bottom {
      height: 50%;
      transition: height 0.5s ease-in-out;
    }

    .project-card-banner,
    .project-card-details {
      transform: translateY(-100%);
      transition: transform 0.5s ease-in-out;
    }
  }
}

@media screen and (min-width: 1500px) {
  .project-card-name {
    font-size: 5rem;
  }

  .project-card-description {
    font-size: 2rem;
  }

  .project-card-links {
    height: 70px;
  }

  .project-card-icon {
    width: 70px;
    height: 70px;
  }

  .project-card-tech {
    padding: 10px;

    & img {
      width: 70px;
      height: 70px;
    }
  }

  .project-card-features {
    width: 100%;

    & li {
      font-size: 1.7rem;
    }
  }
}

@media screen and (max-width: 949px) {
  .project-card {
    transform: none !important;
  }

  .project-card,
  .project-card-outer {
    min-height: 500px;
    min-width: 250px;

    aspect-ratio: 2/3;
  }

  .project-card-name {
    font-size: 2.5rem;
  }

  .project-card-desc-active {
    .project-card-bottom {
      height: 65%;
      transition: height 0.5s ease-in-out;
      transition-delay: 0.1s;
    }

    .project-card-banner,
    .project-card-details {
      transform: translateY(-100%);
      transition: transform 0.5s ease-in-out;
      transition-delay: 0.1s;
    }
  }
}