
.banner {
  background: linear-gradient(#212121, #151515);
  width: 100%;

  position: relative;
}

.banner-pfp-container {
  display: inline-block;
  position: relative;

  background-color: #212121;

  box-shadow: 0px 0px 10px 0px black;
  border-radius: 50%;
}

.banner-pfp {
  display: inline-block;

  aspect-ratio: 1/1;
  object-fit: cover;

  border-radius: 50%;

  margin-left: 15px;
  margin-top: 15px;
}

.banner-card {
  display: inline-block;

  background-color: #212121;
  
  box-shadow: 0px 0px 10px 0px black;
  border-radius: 25px;

  padding: 20px;
}

.banner-text {
  display: inline;

  color: #BBBBAA;
}

.banner-container {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 865px;
  padding: 20px;

  background-color: #111111;

  border-radius: 25px;  
}


@media screen and (min-width: 950px) {
  .banner {
    padding-top: 75px;
    padding-bottom: 75px;

    height: 345px;
  }

  .banner-pfp-container {
    width: 305px;
    height: 305px;
  }

  .banner-pfp {
    width: 275px;
  }

  .banner-card {
    vertical-align: bottom;

    width: 460px;
    height: 265px;

    margin-left: 50px;
  }

  .banner-text {
    width: 460px;
    height: 235px;
  }
}