:root {
  --bg1: #212121;
  --bg2: #111111;
  --bg1o: #212121DD;
  --bg2o: #111111DD;

  --text: #BBBBAA;

  --radius: 10px;
}

body {
  padding: 0px;
  margin: 0px;

  background-color: black;
  overflow-x: hidden;
}

.seperator {
  margin-left: 50px;
  margin-right: 50px;
}