:root {
  --bg1: #212121;
  --bg2: #111111;
  --bg1o: #212121dd;
  --bg2o: #111111dd;
  --bg1o2: #21212155;
  --bg2o2: #11111155;

  --scroll: #353535;
  --scrollhover: #565656;

  --accent: #ab47bc;
  --accent2: #ba68c8;

  --text: ivory;

  --radius: 10px;
}

html,
body {
  overflow-x: hidden;
  height: 100vh;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: black;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bg2);
}

::-webkit-scrollbar-thumb {
  background: var(--scroll);

  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollhover);
}

::-webkit-scrollbar-button {
  height: 5px;
  background: var(--bg2);
}